<div class="login-page" [@routerTransition]>
  <div class="row justify-content-md-center" *ngIf="panel">
      <div class="col-md-4">
          <div class="card bg-color">
              <div class="card-header" style="text-align: center;">
                  <h1>Reset password</h1>
              </div>
              <div class="card-body">
                  <form [formGroup]="loginForm" (ngSubmit)="ResetPassword(loginForm.value,loginForm.valid)">
                      <div class="form-content">
                          <div class="form-group">
                              <input type="text" formControlName="Email" class="form-control form-control-lg"
                                  placeholder="Email">
                          </div>

                         
                      </div>
                      
                      <button type="submit" class="btn rounded-btn">Submit</button>
                      &nbsp;
                      

                  </form>
              </div>
          </div>
      </div>
  </div>
  <div class="row justify-content-md-center" *ngIf="successStatus">
    <div class="col-md-4">
        <div class="card bg-color">
            <div class="card-header" style="text-align: center;">
                <h1>Reset password</h1>
            </div>
            <div class="card-body">
                <h1>We have sent an email with a confirmation link to your email address. </h1>
            </div>
        </div>
    </div>
</div>
</div>