<!DOCTYPE html>
<html >
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- CSRF Token -->
    <meta name="csrf-token" >

    <title>RID</title>

    <!-- Scripts -->
    <script src="assets/'js/app.js" defer></script>

    <script type="text/javascript" src="assets/js/jquery-2.1.3.min.js"></script>


    <!-- <script src="{{asset('js/jquery_1_91.js')}}"></script> -->
    <!-- <script src="{{asset('js/jquery_211.js')}}"></script> -->
    
    <!-- Styles -->
    <link href="assets/css/app.css" rel="stylesheet">
    


</head>
<body>
<style>
  body{font-size: 0.89px;}
   .logo img {
        width: auto;
        height: 50px;
    }
   .navbar{    padding: 0 5px;
    background-color: #fff;
    border: 0px;
    border-bottom: 1px solid #e5e5e5;}
</style>
    <div id="app">
        <nav class="navbar navbar-expand-md navbar-light navbar-laravel">
            <div class="container">
            <div class="logo">
                    <a href="#"><img class="img-fluid"
                            src="assets/images/unhcr-logo.png" alt="UNHCR logo"></a>
                </div>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" >
                    <span class="navbar-toggler-icon"></span>
                </button>

                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <!-- Left Side Of Navbar -->
                    <ul class="navbar-nav mr-auto">

                    </ul>

                    <!-- Right Side Of Navbar -->
                    <ul class="navbar-nav ml-auto">
                 
                    </ul>
                </div>
            </div>
        </nav>
    </div> 

  <router-outlet></router-outlet>



</body>
</html>
