.profile-update {
    border-radius: 5px;
    width: 100%;
    position: relative;
    overflow: hidden;
    box-shadow: 1px 1px 3px 0 rgba(0, 0, 0, .3);
}

.profile-update .dtl {
    background: rgba(51, 51, 51, .5);
    width: 100%;
    position: absolute;
    height: 100%;
    top: 0;
    left: 0;
    opacity: 0;
    visibility: hidden;
    transition: .3s;
}

#location-modal-body {
    min-height: 520px;
}

#designation-modal-body {
    min-height: 520px;
}

.input-icon {
    height: 100%;
}
.adjust-input-field label:first-child{
    width: 13%;
}
.adjust-input-field input,textarea{
    width: 83%;
}
.gender-radio-button label {
    margin-right: 20px;
}

/********** STYLE FOR A RADIO BUTTON --------------- */

input[type=radio] {
    position: absolute;
    opacity: 0;
}

input[type=radio]+label {
    position: relative;
    cursor: pointer; // padding: 0;
}

input[type=radio]+label:before {
    border: 1px solid #bbbbbb;
    content: '';
    margin-right: 9px;
    display: inline-block;
    vertical-align: text-top;
    width: 24px;
    height: 24px;
    background: #e6e6e6;
    border-radius: 50%;
}

input[type=radio]:hover+label:before {
    background: #ccc;
}

input[type=radio]:checked+label:before {
    background: #5cb85c;
    border-color: #5cb85c;
}

input[type=radio]:disabled+label {
    color: #b8b8b8;
    cursor: auto;
}

input[type=radio]:disabled+label:before {
    box-shadow: none;
    background: #ddd;
}

input[type=radio]:checked+label:after {
    content: '●';
    color: #fff;
    top: 0px;
    font-size: 20px;
    font-weight: bold;
    left: 6px;
    top: 5px;
    position: absolute;
}

a {
    -webkit-appearance: none;
}

.submit-button {
    margin-right: 50px;
}
.submit-button a{
    margin-right: 10px;
}

.submit-button button:last-child {
    margin: 0;
}

.suggested-knowledge {
    padding: 10px;
}

.suggested-title {
    height: 150px;
    overflow: scroll;
}

.suggested-title a {
    font-size: 14px;
}

.description {
    max-width: 250px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.select_box {
    width: 35%;
    margin-left: 7px;
}

.pd-20 {
    padding: 20px;
}

.card-body {
    padding: 0;
}

.action-buttons button {
    margin-right: 10px;
    transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

.action-buttons button:hover {
    background: gray;
}

.action-buttons button:last-child {
    margin-right: 0;
}

.radio {
    margin-top: 12px;
}

.radio input[type="radio"]:checked+.radio-label:before {
    margin-top: 5px;
}

.radio input[type="radio"]+.radio-label:before {
    margin-top: 5px;
}

.card-header button {
    margin-right: 20px;
}

.card-header button:last-child {
    margin-right: 0;
}

/* body select.select_box */

.filter-block select {
    display: block;
    padding: 10px 70px 10px 13px !important;
    max-width: 100%;
    height: auto !important;
    border: 1px solid #e3e3e3;
    border-radius: 3px;
    background-color: DodgerBlue;
    color: #FFFFFF;
    font-size: 12px;
    line-height: 16px !important;
    appearance: none;
    /* this is must */
    -webkit-appearance: none;
    -moz-appearance: none;
    margin: 0 auto;
}

/* body select.select_box option */

.filter-block select option {
    padding: 10px 70px 10px 13px;
    border-bottom: 1px solid #fff;
}

/* for IE and Edge */

select::-ms-expand {
    display: none;
}

select:disabled::-ms-expand {
    background: #f60;
}